{
  "presets": [
    ["env", { "modules": false }],
    "stage-3"
  ],
  "env": {
    "test": {
      "presets": [
        ["env",  { "targets": { "node": 8 }}]
      ],
      "plugins": [
         "babel-plugin-dynamic-import-node"
      ]
    }
  },
  "plugins": ["syntax-dynamic-import"]
}