@import "../constants.styl"
.post-content {
  font-size 12pt
  font-family $postBodyFontFamily
  //width: 100% // word-wrap requirement

  p, pre, li {
    margin-top 0.1em
    margin-bottom 0.1em
    word-wrap: break-word
  }

  pre {
    font-size 10pt

    // https://css-tricks.com/snippets/css/make-pre-text-wrap/
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }

  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline
  }
}
