# This file used for both developer and demo purposes.
# It contains environment
version: '3.2'

services:
  #enviroment
  postgresql:
    image: postgres:11.4
    hostname: postgresql
    container_name: postgresql-blog-dev
    restart: unless-stopped
    ports:
      - 25432:5432
    environment:
      - POSTGRES_PASSWORD=postgresqlPassword
    volumes:
      - ./postgresql_dev/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
      - postgresql_blog_dev_data_dir:/var/lib/postgresql/data
    networks:
      blog-dev:
        ipv4_address: 172.22.0.2
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "1"

  redis:
    image: redis:5.0.5
    hostname: redis
    container_name: redis-blog-dev
    restart: unless-stopped
    ports:
      - 26379:6379
    volumes:
      - redis_blog_dev_data_dir:/data
    networks:
      blog-dev:
        ipv4_address: 172.22.0.3
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "1"

  rabbitmq:
    image: rabbitmq:3.7.6
    hostname: rabbitmq
    container_name: rabbitmq-blog-dev
    restart: unless-stopped
    ports:
      - 45672:15672
#      - 35672:5672
      - 60613:61613
#      - 35674:15674
    environment:
      - RABBITMQ_DEFAULT_USER=blog
      - RABBITMQ_DEFAULT_PASS=blogPazZw0rd
    volumes:
      - ./rabbitmq_dev/enabled_plugins:/etc/rabbitmq/enabled_plugins
      - rabbitmq_data_dir:/var/lib/rabbitmq/mnesia
    networks:
      blog-dev:
        ipv4_address: 172.22.0.4
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:6.4.0
    hostname: elasticsearch
    container_name: elasticsearch-blog-dev
    restart: unless-stopped
    ports:
    - 29200:9200
    - 29300:9300
    environment:
    - discovery.type=single-node
    - cluster.name=elasticsearch
    - xpack.security.enabled=false
    - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    volumes:
    - es_data_dir:/usr/share/elasticsearch/data
    networks:
      blog-dev:
        ipv4_address: 172.22.0.5
    logging:
      driver: "json-file"
      options:
        max-size: "50m"

volumes:
  #enviroment
  postgresql_blog_dev_data_dir:
  redis_blog_dev_data_dir:
  rabbitmq_data_dir:
  es_data_dir:

networks:
  blog-dev:
    driver: bridge
    ipam:
      driver: default
      config:
      - subnet: 172.22.0.0/24
