$errorColor=magenta
$bgColor=rgba(0, 128, 0, 0.1)
$contentWidth = 969px

$postTitleFontSize=24px
$postTitleFontWeight=bold
$postTitleFontFamily=Avenir, Helvetica, Arial, sans-serif;
$postTitleColor=rgb(44, 62, 80);
$postTitleColorLink=blue;

$postBodyFontSize=1rem !important
$postBodyFontFamily=-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif
$postBodyMarginTop=0.2em !important
$postBodyMarginBottom=0.2em !important

$titleColor=white
$titleBackground=rgba(0, 0, 0, 0.7);
$lightblack=#454545
$strongblack=#343434