$errorColor=magenta
$bgColor=rgba(0, 128, 0, 0.1)
$contentWidth = 969px

$postTitleFontSize=24px
$postTitleFontWeight=bold
$postTitleFontFamily=Avenir, Helvetica, Arial, sans-serif;
$postTitleColor=rgb(44, 62, 80);
$postTitleColorLink=blue;

$postBodyFontSize=16pt
$postBodyFontFamily=Avenir, Helvetica, Arial, sans-serif;
$postBodyMarginTop=0.2em !important
$postBodyMarginBottom=0.2em !important